html,body,.main-content{width:100%;height:100%;}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, img {
  margin: 0;
  padding: 0;
}
.nav-left{
  display: inline-block;
  vertical-align: top;
  width:220px;
  background: #263238;
  height:100%;
}
.right-content{
  display: inline-block;
  width:calc(100% - 220px);
  height:100%;
  position: relative;
  >div{
    &:nth-child(1){
      height:60px;
    }
    &:nth-child(2){
      height:60px;
      background:#fef7d2;
    }
    &:nth-child(3){
      padding: 30px 47px 0 30px;
      h4{
        font-size: 16px;
        color:#222;
        padding-bottom: 18px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
      }
      .balance{
        width:100%;
        height:180px;
        background: #f4f5f9;
        border-radius: 4px;
        border: 1px solid #eee;
        padding: 28px 50px 0 30px;
        box-sizing: border-box;
        margin-bottom: 59px;
        >div{
          display: inline-block;
          >p{
            //display: inline-block;
            i{
              display: inline-block;
              vertical-align: sub;
              width:23px;
              height:23px;
              background: url('../images/money-icon.png') no-repeat;
              background-size: 23px;
              margin-right: 12px;
            }
            color:#999;
            font-size: 16px;
          }
          >h1{
            //display: inline-block;
            margin-left: 40px;
            color:#fb3f30;
            font-size: 64px;
            line-height: 64px;
            margin-top: 27px;
            &.act{
              color:#3fb838;
            }
          }
        }
        >a{
          display: inline-block;
          border-radius: 4px;
          text-decoration: none;
          background: #0080ed;
          font-size: 20px;
          color:#fff;
          width:160px;
          padding: 16px 0;
          text-align: center;
          line-height: 20px;
          float: right;
          margin-top: 37px;
        }
      }
      .recharge-content{
        display: none;
        >p{
          >span{
            display: inline-block;
            font-size: 14px;
            color:#222;
            width: 98px;
            margin-right: 15px;
            text-align: right;
            font-weight: bold;
          }
          >a{
            display: inline-block;
            font-size: 16px;
            color:#0080ed;
            width: 120px;
            line-height: 16px;
            padding: 11px 0;
            text-align: center;
            border-radius: 2px;
            background: #fff;
            border: 1px solid #0080ed;
            box-sizing: border-box;
            text-decoration: none;
            margin-right: 5px;
            margin-bottom: 20px;
            &.active{
              color: #fff;
              background:#0080ed;
            }
          }
          >input{
            width: 600px;
            height:38px;
            padding-left: 10px;
          }
          >input::-webkit-input-placeholder{
            color:#666;
            font-size: 14px;
          }
        }
      }
    }
  }
  .recharge{
    display: inline-block;
    font-size: 16px;
    color:#fff;
    width:180px;
    line-height: 16px;
    padding: 11px 0;
    background: #3fb838;
    border-radius: 2px;
    margin-left: 113px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
  }

  .box{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.5;
    display: none;
  }
}
.alert-content{
  display: none;
  width:600px;
  height:500px;
  border-radius: 4px;
  background: #fff;
  border:1px solid #ccc;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -300px;
  margin-top: -250px;
  z-index: 999;
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.2);
  .title{
    font-size: 16px;
    color:#222;
    padding: 17px 0;
    line-height: 16px;
    text-align: center;
    border:1px solid #e5e5e5;
    position: relative;
    font-weight: bold;
    >a{
      position: absolute;
      text-decoration: none;
      font-size: 13px;
      color:#ccc;
      right: 15px;
    }
  }
  >h3{
    color:#3fb838;
    font-size: 30px;
    text-align: center;
    margin: 22px 0;
  }
  >div{
    width:280px;
    height:280px;
    background: #f4f5f9;
    text-align: center;
    border-radius: 4px;
    padding-top: 10px;
    margin-left: 160px;
    box-sizing: border-box;
    >img{
      width:258px;
      height:260px;
    }
  }
  .scan{
    font-size: 14px;
    color:#666;
    margin-top: 20px;
    text-align: center;
  }
}